@font-face {
    font-family: GoogleMono;
    src: url(GoogleSansCode-VariableFont_wght.ttf);
}

body{
    font-family: GoogleMono;
    margin: 0;
    background-color: rgb(36, 36, 36);
}

body::-webkit-scrollbar {
    display: none;
}


h1{
    color: white;
    margin: 1rem;
}

a{
    color: white;
}

.google-sans-code-default {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.header{
    z-index: 1;
    display: flex;
    position: fixed;
    padding: 1rem;
    top: 1rem;
    left: 2rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.255);
    backdrop-filter: brightness(1.1)
        blur(2px)
        url(#displacementFilter);  
}

.footer{
    background-color: rgba(255, 255, 255, 0.255);
    position: fixed;
    bottom: 0rem;
    left: 0;
    right: 0;
}

.downloadbutton{
    font-size: 2rem;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-style: wavy;
    font-weight: 600;
    transition: 150ms;
}

.downloadbutton:hover{
    color: rgb(179, 179, 179);
}

.downloadbuttontext{
    font-size: 2rem;
    margin: 0px;
    margin-left: 1rem;
}

.footertext{
    font-size: 1rem;
    margin: 0;
}

.changelog{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 1rem;
}

.changelogcard {
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.25);
    margin: 1rem;
    padding: 1rem;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.changelogcard.visible {
    opacity: 1;
    transform: translateY(0);
}

@media only screen and (max-width: 750px) {
  .changelog{
    grid-template-columns: repeat(1, 1fr);
  }
}

.changelogtext{
    color: white;
    margin: 1rem;
    font-size: 1.25rem;
}

.changelogtexttitle{
    margin-top: 7rem;
    margin-left: 2rem;
    font-size: 3rem;
}