body{
    margin: 0;
    background-color: rgb(36, 36, 36);
}

header{
    display: flex;
    
    padding: 0.5rem;
    background-color: rgb(45, 45, 45);
}

.downloadbutton{
    color: white;
    text-decoration: underline;
    text-underline-offset: 2px;
    font-family: sans-serif;
    font-weight: 600;
    transition: 150ms;
}

.downloadbutton:hover{
    color: white;
    text-underline-offset: 5px;
}

.downloadbuttontext{
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    margin: 0px;
    margin-left: 1rem;
}