@font-face {
    font-family: GoogleMono;
    src: url(GoogleSansCode-VariableFont_wght.ttf);
}

body{
    font-family: GoogleMono;
    margin: 0;
    background-color: rgb(36, 36, 36);
}

h1{
    color: white;
}

a{
    color: white;
}

.google-sans-code-default {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.header{
    display: flex;
    position: fixed;
    padding: 1rem;
    top: 1rem;
    left: 1rem;
    border-radius: 1rem;
    background-color: rgba(254, 179, 238, 0.255);
    backdrop-filter: blur(10px);
    
}

.downloadbutton{
    font-size: 2rem;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-style: wavy;
    font-weight: 600;
    transition: 150ms;
}

.downloadbutton:hover{
    color: rgb(254, 179, 238);
}

.downloadbuttontext{
    font-size: 2rem;
    margin: 0px;
    margin-left: 1rem;
}

.changelog{
    margin: 1rem;
    margin-top: 7rem;
}